@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'SUITE-Regular' !important;
  /* line-height: 100%; */
}

html,
body,
#root {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 900px) {
  html {
    font-size: 28px;
  }
}

@media (max-width: 899px) {
  html {
    font-size: 3vw;
  }
}
